html, body { height: 90%; padding: 0; margin: 0; }
button{
    width: 50%; height: 50%; float: left;
}
#answer1{
    background-color: #4CAF50;
}
#answer1:hover{
    background-color: #349e37;
}
#answer2{
    background-color: #f94a1e;
}
#answer2:hover{
    background-color: #eb3e13;
}
#answer3{
    background-color: #3399ff;
}
#answer3:hover{
    background-color: #1f7fe0;
}
#answer4{
    background-color: #ff9933;
}
#answer4:hover{
    background-color: #e07c18;
}

#buttons{
    text-align: center;
}
#nameText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
}
#message{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
}